@mixin block-style($name, $margintop:40px, $color:#fff){
  .#{$name}{
    background-color: $color;
  }

  .#{$name}-wrapper{
    margin: 0 auto;
    max-width: $wrapper-width;
    padding: 0 $wrapper-padding;
    margin-top: $margintop;
  }
}