@import "variables";
@import "mixins";
@import "normalize";


// modules
@import "modules/header";
@import "modules/content";
@import "modules/footer";

// plugins
@import "plugins/jquery.bxslider";


body{
  font: 24px/20px $Main_font;
  color: $style-color;
  list-style: none;
}

.clear-fix:after{
  content: '';
  display: block;
  clear: both;
}

@include block-style('header');
@include block-style('main-menu');
@include block-style('slider');
@include block-style('skills', 75px);
@include block-style('services', 87px, $style-color);
@include block-style('news_banners',0, $gray-color);
@include block-style('trademarks',95px);
@include block-style('links',100px,$style-color);
@include block-style('contacts',0,#35383c);
