.banners{
  float: left;
  margin-left: 40px;
  padding-top: 65px;

  &-block{
    margin-top: 40px;
  }
}
.accordion-item{
  width: 560px;
  margin-top: 5px;

  &__panel{
    display: block;
    background: #fff;
    border: 1px solid #e8e8e8;
    font-size: 13px;
    color: $style-color;
    text-decoration: none;

    &:before, &--active:before{
      content: url('../img/+.png');
      display: inline-block;
      height: 38px;
      width: 38px;
      background: #fff;
      line-height: 38px;
      text-align: center;
      border-right: 1px solid #e8e8e8;
    }
    &--active{
      background: $gold-color;
      color: #fff;

      &:before{
        content: url('../img/-.png');
        background: $gold-color;
        border-right: 1px solid $gray-color;
      }
    }
  }
  &__head{
    padding-left: 12px;
  }
  &__text{
    font: 13px/20px $Arial_font;
    color: #8a8a8a;
    padding: 30px 0 40px 38px  ;
  }
}