@media screen and (max-width:960px) {
    .container {
        width: 95%;
    }
    .logo {
        float: none;
    }

    .nav_top {
        float: none;
        padding: 30px 0 0;
    }

    .slider_text {
        width: 40%;
    }

    .slider_img {
        width: 37%;
        margin: 0;
    }

    .slider_img img {
        width: 100%;
        margin-top: -20px;
    }
    .arrow_left, .arrow_right {
        padding: 183px 20px 0;
    }
    .slider_text p {
        margin: 0;
        font-size: 24px;
        line-height: 1.5;
    }
    .slider_text h1 {
        margin: 0;
        font-size: 48px;
        line-height: 1.5;
    }
    .slider_text span {
        font-size: 16px;
        line-height: 1.5;
        height: 96px;
        display: block;
        overflow: hidden;
    }
    .box__text, .box__text_right {
        width: 45%;
    }
    .content {
        padding: 80px 0 70px;
    }
    .content__block p{
        height: 139px;
        width: 154px;
        overflow: hidden;
    }
    .content__block h3 {
        font-size: 24px;
        line-height: 1.5;
    }
    .brands {
        padding: 0;
    }
    .brands li {
        padding: 26px 45px 31px 0;
    }
    .footer__menu li {
        padding: 50px 0 0 45px;
    }
    .copyright {
        padding: 80px 0;
    }
}

@media screen and (max-width:767px) {
    .header{
        overflow: visible;
    }
    .logo{
        float: none;
        text-align: center;
    }
    .nav_top{
        float: none;
        width: 80%;
        z-index: 1;
        padding: 0;
        margin-top: 20px;
        position: absolute;
        left: 10%;
        border:1px solid transparent;
    }
    .nav_top:hover{
        background: rgba(54,41,62,.9);
        border:1px solid #111b21;
        border-radius:8px;
    }
    .nav_top li{
        float: none;
        display: none;
        text-align: center;
        padding: 0;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
    }
    .nav_top li:first-child{
        display: block;
    }
    .nav_top:hover li{
        display: block;
        border-bottom: 1px solid #36283e;
        border-top: 1px solid #533f5b;
    }
    .nav_top li:first-child{
        border-top-left-radius:8px;
        border-top-right-radius:8px;
    }
    .nav_top li a{
        display: block;
        width: auto;
        padding: 2px 0 0;
        border-bottom: 2px solid transparent;
    }
    .nav_top li a:hover{
        border-bottom: 2px solid #edbfff;
        background: rgba(0,0,0,.3);
    }
    .slider_text{
        width: 45%;
        padding-top: 62px;
    }
    .arrow_left, .arrow_right {
        padding: 92px 20px 0;
    }
    .slider_text span{
        display: none;
    }
    .slider_text h1{
        font-size: 36px;
    }
    .slider_img{
        width: 33%;
    }
    .content {
        float: none;
        width: 100%;
        padding: 25px 0 0;
    }
    .content:first-child {
        padding-top: 60px;
    }
    .content__block p {
        width: auto;
        height: auto;
    }
    .box__text, .box__text__right {
        float: none;
        width: 100%;
    }
    .box__text__right h2 {
        padding-top: 87px;
    }
    .brands {
        padding: 0 0 37px;
    }
    .brands li {
        padding: 25px 35px 0;
    }
    .columns__content {
        float: none;
        width: 100%;
        padding: 80px 0 0;
    }
    .columns__content:first-child {
        padding: 80px 0 0;
    }
    .columns__content h2 {
        padding: 0;
    }
    .columns__content {
        padding: 55px 0;
    }
    .columns__content:last-child {
        padding: 0 0 80px;
    }
    .columns__content h3 {
        padding-top: 0;
    }
    .footer__menu {
        padding-top: 40px;
        float: none;
        text-align: center;
    }
    .footer__menu li {
        display: inline-block;
        padding-left: 20px;
        float: none;
    }
    .copyright {
        padding: 25px 0 80px;
        float: none;
        text-align: center;
    }
    .slider_text p{
        font-size: 15px;
    }
    .spots {
        padding:20px 76px 60px 0;
    }
    .spots a {
        margin-top: 0;
    }
}
@media screen and (max-width:479px) {
    .sidebar {
        overflow: hidden;
    }
    .slider_text {
        width: 100%;
        text-align: center;
    }
    .slider_img{
        display: none;
    }
    .footer__menu{
        display: none;
    }
    .arrow_left, .arrow_right {
        padding: 88px 10px 0;
    }
    .spots{
        padding-right: 0px;
        text-align: center;
    }
    .spots a{
        float: none;
    }
}